<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="/WEB-INF/templates/layout.xhtml">
	
	<ui:define name="title">
		Add Employee
	</ui:define>
	
	<ui:define name="content">
		<h1>Add Employee</h1>
		<h:form>
			<div class="form-group">
				<label for="employeeId">Employee ID:</label>
				<h:inputText styleClass="form-control" id="userID" value="#{employeeBean.employee.employeeId}" />
			</div>
			<div class="form-group">
				<label for="firstName">First Name:</label>
				<h:inputText styleClass="form-control" id="firstName" value="#{employeeBean.employee.firstName}" />
			</div>
			<div class="form-group">
				<label for="lastName">Last Name:</label>
				<h:inputText styleClass="form-control" id="lastName" value="#{employeeBean.employee.lastName}" />
			</div>
			<div class="form-group">
				<label for="salary">Salary:</label>
				<h:inputText styleClass="form-control" id="email" value="#{employeeBean.employee.salary}" />
			</div>

			<div class="form-group">
				<h:commandButton styleClass="btn btn-info" value="Save" action="#{employeeBean.create}" />
				<h:commandButton styleClass="btn btn-default" value="Cancel" action="index" />
			</div>
		</h:form>
	</ui:define>
</ui:composition>