<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<title>Admin- HomePage</title>
	<meta name="description"
		content="Free Bootstrap Theme by BootstrapMade.com"></meta>
	<meta name="keywords"
		content="free website templates, free bootstrap themes, free template, free bootstrap, free website template"></meta>
	<link
		href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,600,700,300'
		rel='stylesheet' type='text/css'></link>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"></link>
	<link rel="stylesheet" type="text/css" href="css/animate.css"></link>
	<link rel="stylesheet" type="text/css" href="css/style.css"></link>
	<style>
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

div.container {
	width: 100%;
}

label {
	display: inline-block;
	width: 200px;
	margin-right: 30px;
	margin-top: 20px;
	text-align: right;
}

input {
	
}

fieldset {
	border: none;
	width: 500px;
	margin-top: 70px;
	margin-right: 50px;
	margin: auto;
}
}
</style>
</h:head>
<h:body>
<header class="main-header" id="header">
		<div class="bg-color">
			<!--nav-->
			<nav class="nav navbar-default navbar-fixed-top">
				<div class="container">
					<div class="col-md-12">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse" data-target="#mynavbar"
								aria-expanded="false" aria-controls="navbar">
								<span class="fa fa-bars"></span>
							</button>
						</div>
						<div class="collapse navbar-collapse navbar-left" id="mynavbar">
							<ul class="nav navbar-nav">
								<li class="Home"><a href="AdminHomePage.jsf">Home</a></li>
								
					 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="add-user.jsf">Add</a></li>
            <li><a href="index2.jsf">Edit and Delete</a></li>
          </ul>
        </li>
								
								 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Books<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="add-books.jsf">Add</a></li>
            <li><a href="index3.jsf">Edit and Delete</a></li>
          </ul>
        </li>
								</ul>
						</div>
						<div class="collapse navbar-collapse navbar-right" id="mynavbarr">
							<ul class="nav navbar-nav">
								 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Change Password</a></li>
            <li><a href="AdminLogin.jsf">Logout</a></li>
          </ul>
        </li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
			<!--/ nav-->
			<div class="container text-center">
				<div class="wrapper wow fadeInUp delay-05s">

					<h3 class="title">StoreBooks</h3>
				
				
				</div>
			</div>
		</div>
	</header>

	<footer class="" id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-7 footer-copyright">
					© Bethany Theme - All rights reserved
					<div class="credits">
						<!-- 
                            All the links in the footer should remain intact. 
                            You can delete the links only if you purchased the pro version.
                            Licensing information: https://bootstrapmade.com/license/
                            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bethany
                        -->
						Designed by <a href="https://bootstrapmade.com/">Bootstrap
							Themes</a>
					</div>
				</div>
				<div class="col-sm-5 footer-social">
					<div class="pull-right hidden-xs hidden-sm">
						<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
							class="fa fa-dribbble"></i></a> <a href="#"><i
							class="fa fa-twitter"></i></a> <a href="#"><i
							class="fa fa-google-plus"></i></a> <a href="#"><i
							class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!---->
	<!--contact ends-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/wow.js"></script>
	<script src="js/custom.js"></script>
	<script src="contactform/contactform.js"></script>


</h:body>
</html>