<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<title>Admin- HomePage</title>
	<meta name="description"
		content="Free Bootstrap Theme by BootstrapMade.com"></meta>
	<meta name="keywords"
		content="free website templates, free bootstrap themes, free template, free bootstrap, free website template"></meta>
	<link
		href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,600,700,300'
		rel='stylesheet' type='text/css'></link>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"></link>
	<link rel="stylesheet" type="text/css" href="css/animate.css"></link>
	<link rel="stylesheet" type="text/css" href="css/style.css"></link>
	<style>
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

div.container {
	width: 100%;
}

label {
	display: inline-block;
	width: 200px;
	margin-right: 30px;
	margin-top: 20px;
	text-align: right;
}

input {
	
}

fieldset {
	border: none;
	width: 500px;
	margin-top: 70px;
	margin-right: 50px;
	margin: auto;
}
}
</style>
</h:head>
<h:body>
<h:form>
	<header class="main-header" id="header">
		<div class="bg-color">
			<div class="container text-center">
				<div class="wrapper wow fadeInUp delay-05s">

					<h3 class="title">StoreBooks</h3>

					<div>
						<h3>Username</h3><input type="text" id="username" name="username" value="#{Admin.username}" style="width: 300px;" />
						<h3>Password</h3><input type="text" id="password" name="password" value="#{Admin.password}" style="width: 300px;" />
					</div>
					<br></br>
					<div class="form-group">
				
				<h:commandButton styleClass="btn btn-default" value="Login" action="AdminHomePage" />
				<h:commandButton styleClass="btn btn-default" value="Register" action="registeradmin" />
			</div>
				</div>
			</div>
		</div>
	</header>
	<!--/ header-->
	<!---->

	<!---->
	<!--contact ends-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/wow.js"></script>
	<script src="js/custom.js"></script>
	<script src="contactform/contactform.js"></script>

</h:form>
</h:body>
</html>