<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="/WEB-INF/templates/layout.xhtml">
	
	<ui:define name="title">
		Delete Employee
	</ui:define>
	
	<ui:define name="content">
		<h1>Delete Employee</h1>
		<h:form>
			<p>Are you sure you want to delete employee #{employeeBean.employee.firstName}
			#{employeeBean.employee.lastName}?</p>
			<h:inputHidden value="#{employeeBean.employee.employeeId}" />
			<h:commandButton value="Yes" styleClass="btn btn-danger" action="#{employeeBean.remove}" />
			<h:commandButton value="No" styleClass="btn btn-default" action="index2" />
		</h:form>
	</ui:define>
</ui:composition>