<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="/WEB-INF/templates/layout.xhtml">
	
	<ui:define name="title">
		List Employees
	</ui:define>
	
	<ui:define name="content">
		<h1>List of Employees</h1>
		<h:form>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Employee ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Salary</th>
				</tr>
			</thead>
			<tbody>
				<ui:repeat var="employee" value="#{employeeListBean.employeeList}">
					<tr>
						<td>#{employee.employeeId}</td>
						<td>#{employee.firstName}</td>
						<td>#{employee.lastName}</td>
						<td>#{employee.salary}</td>
						<td><h:commandLink value="Edit" action="#{employeeBean.edit(employee.employeeId)}" /></td>
						<td><h:commandLink value="Delete" action="#{employeeBean.delete(employee.employeeId)}"/></td>
					</tr>
				</ui:repeat>
			</tbody>
		</table>
		<h:commandLink value="Add New Employee" action="#{employeeBean.add}" />
		</h:form>
	</ui:define>
</ui:composition>