<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<title>User- View Books</title>
	<meta name="description"
		content="Free Bootstrap Theme by BootstrapMade.com"></meta>
	<meta name="keywords"
		content="free website templates, free bootstrap themes, free template, free bootstrap, free website template"></meta>
	<link
		href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,600,700,300'
		rel='stylesheet' type='text/css'></link>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"></link>
	<link rel="stylesheet" type="text/css" href="css/animate.css"></link>
	<link rel="stylesheet" type="text/css" href="css/style.css"></link>
<style>
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

div.container {
	width: 100%;
}


input {
	
}

fieldset {
	border: none;
	width: 400px;
	margin-top: 50px;
	margin-right: 50px;
	margin: auto;
}

label {
    /* Other styling.. */
    text-align: left;
    clear: both;
    float:left;
    margin-right:15px
}

input[type=submit] {
    width: 100%;
    color: Black;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

}
</style>
</h:head>
<h:body>

<IMG STYLE="position:absolute; TOP:-10px; LEFT:850px; WIDTH:180px; HEIGHT:45px" SRC='img/ben.jpg'></IMG>

<header class="main-header" id="header">
		<div class="bg-color">
			<div class="container text-center">
				<div class="wrapper wow fadeInUp delay-05s">

					<h3 class="title">StoreBooks</h3>
	<div>
						
					</div>
					</div>
					<br></br>
			
				</div>
			</div>
			</header>
	<!--/ header-->
	<!---->
	<section id="cta-1">
		<div class="container">
			<div class="row">
				<div class="cta-info text-center">
					<h3>
						<span class="dec-tec">“</span>Books is power. Power is books, I read books. Therefore I have power<span class="dec-tec">”</span>
					</h3>
				</div>
			</div>
		</div>
	</section>
	
	
	
	
	
	
<h:form>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Date Published</th>
					<th>Section</th>
					
				</tr>
			</thead>
			<tbody>
				<ui:repeat var="book" value="#{bookListBean.bookList}">
					<tr>
						<td>#{book.bookTitle}</td>
						<td>#{book.bookAuthor}</td>
						<td>#{book.datePublished}</td>
						<td>#{book.section}</td>
				<td><h:commandButton value="Borrow" action="#{booksBean.view(book.bookId)}" /></td>
						
					</tr>
				</ui:repeat>
			</tbody>
		</table>

		</h:form>

	<section
		class="section-padding parallax bg-image-2 section wow fadeIn delay-08s"
		id="cta-2"></section>
	<!---->
	<!---->
	<!---->
	<footer class="" id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-7 footer-copyright">
					© Bethany Theme - All rights reserved
					<div class="credits">
						<!-- 
                            All the links in the footer should remain intact. 
                            You can delete the links only if you purchased the pro version.
                            Licensing information: https://bootstrapmade.com/license/
                            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bethany
                        -->
						Designed by <a href="https://bootstrapmade.com/">Bootstrap
							Themes</a>
					</div>
				</div>
				<div class="col-sm-5 footer-social">
					<div class="pull-right hidden-xs hidden-sm">
						<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
							class="fa fa-dribbble"></i></a> <a href="#"><i
							class="fa fa-twitter"></i></a> <a href="#"><i
							class="fa fa-google-plus"></i></a> <a href="#"><i
							class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!---->
	<!--contact ends-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/wow.js"></script>
	<script src="js/custom.js"></script>
	<script src="contactform/contactform.js"></script>


</h:body>
</html>