<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<title>Admin Edit Books</title>
	<meta name="description"
		content="Free Bootstrap Theme by BootstrapMade.com"></meta>
	<meta name="keywords"
		content="free website templates, free bootstrap themes, free template, free bootstrap, free website template"></meta>
	<link
		href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,600,700,300'
		rel='stylesheet' type='text/css'></link>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"></link>
	<link rel="stylesheet" type="text/css" href="css/animate.css"></link>
	<link rel="stylesheet" type="text/css" href="css/style.css"></link>
	<style>
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

div.container {
	width: 100%;
}


input {
	
}

fieldset {
	border: none;
	width: 400px;
	margin-top: 50px;
	margin-right: 50px;
	margin: auto;
}

label {
    /* Other styling.. */
    text-align: left;
    clear: both;
    float:left;
    margin-right:15px
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    color: Black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: red;
}

}
</style>
</h:head>
<h:body>

	<header class="main-header" id="header">
		<div class="bg-color">
			<!--nav-->
		
			<!--/ nav-->
			<div class="container text-center">
				<div class="wrapper wow fadeInUp delay-05s">

					<h3 class="title">View Book</h3>
			

	
	<fieldset>
		<h:form>
			<div class="form-group">
				<label for="bookId">Book ID:</label>
				<h:inputHidden value= "#{booksBean.book.bookId}" />
				<h:inputText styleClass="form-control" id="bookId" value="#{booksBean.book.bookId}" disabled="true" />
			</div>
			<div class="form-group">
				<label for="bookNumber">Book Number:</label>
				<h:inputText styleClass="form-control" id="bookNumber" value="#{booksBean.book.bookNumber}" disabled="true" />
			</div>
			<div class="form-group">
				<label for="lastName">Title:</label>
				<h:inputText styleClass="form-control" id="lastName" value="#{booksBean.book.bookTitle}" disabled="true"/>
			</div>
			<div class="form-group">
				<label for="salary">Author:</label>
				<h:inputText styleClass="form-control" id="salary" value="#{booksBean.book.bookAuthor}" disabled="true"/>
			</div>
			<div class="form-group">
				<label for="datePublished">Date Published:</label>
				<h:inputText styleClass="form-control" id="datePublished" value="#{booksBean.book.datePublished}"  disabled="true"/>
			</div>
			<div class="form-group">
				<label for="section">Section:</label>
				<h:inputText styleClass="form-control" id="section" value="#{booksBean.book.section}" disabled="true"/>
			</div>
			
			<div class="form-group">
				<label for="lastName">Genre:</label>
				<h:selectOneMenu id="genre" value="#{booksBean.book.genre}" disabled="true">
					<f:selectItems value="#{booksBean.genres}" />
				</h:selectOneMenu>
			</div>
			<div class="form-group">
			
				<h:commandButton styleClass="btn btn-default" value="Cancel" action="UserHomePage" />
			</div>
		</h:form>
</fieldset>


				
				</div>
			</div>
		</div>
	</header>

	<footer class="" id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-7 footer-copyright">
					© Bethany Theme - All rights reserved
					<div class="credits">
						<!-- 
                            All the links in the footer should remain intact. 
                            You can delete the links only if you purchased the pro version.
                            Licensing information: https://bootstrapmade.com/license/
                            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bethany
                        -->
						Designed by <a href="https://bootstrapmade.com/">Bootstrap
							Themes</a>
					</div>
				</div>
				<div class="col-sm-5 footer-social">
					<div class="pull-right hidden-xs hidden-sm">
						<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
							class="fa fa-dribbble"></i></a> <a href="#"><i
							class="fa fa-twitter"></i></a> <a href="#"><i
							class="fa fa-google-plus"></i></a> <a href="#"><i
							class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!---->
	<!--contact ends-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/wow.js"></script>
	<script src="js/custom.js"></script>
	<script src="contactform/contactform.js"></script>


</h:body>
</html>